@use "_variables.scss" as *;

.border-container {
    .border {
        content: '';
        z-index: 100;
        position: fixed;
        background: $green;
    }
    .right {
        top: 0;
        right: 0;
        bottom: 0;
        width: 25px;
    }
    .top {
        top: 0;
        right: 0;
        left: 0;
        height: 25px;
    }
    .bottom {
        right: 0;
        bottom: 0;
        left: 0;
        height: 25px;
    }
    .left {
        top: 0;
        bottom: 0;
        left: 0;
        width: 25px;
    }
}