@use "_variables.scss" as *;

html {
    background-color: $tan;
    font-family: $body-font;
    font-size: 62.5%;
    letter-spacing: 0.05rem;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

section { width: 100%; }

.wrapper {
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
}

//header fonts
h1,
header p,
h2,
h3 {
    margin: 0;
    font-family: $header-font;
    text-align: center;
}

h1 {
    margin-top: -0.3rem;
    margin-bottom: -0.6rem;
    color: $orange;
    font-size: 7.5rem;
    letter-spacing: 1rem;
}

h2{
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
    color: $yellow;
}

h2 {padding-bottom: 2rem}

h2.state {
    font-size: 4rem;
    letter-spacing: 0.8rem;
}

h3 {
    font-size: 2.4rem;
    letter-spacing: 0.5rem;
    color: $orange;
}

header p {
    color: $green;
    font-size: 2.5rem;
    letter-spacing: 0.9rem;
    &:first-child {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
    &:last-child {
        margin-top: 0.3rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
}

//body fonts
p,
a {
    color: $green;
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
    text-align: center;
    text-decoration: none;
}

a:hover,
a:focus { text-decoration: underline; }

p.no-parks {
    font-weight: 700;
    text-transform: uppercase;
}

p.error {
    color: $yellow;
    margin-bottom: 0;
}

footer p,
footer a {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

footer a { text-decoration: underline; }

//links
a {
    color: $green;
    &:hover,
    &:focus {
        color: $orange;
    }
}

//form fonts
label,
legend,
select,
button {
    font-family: $body-font;
    font-size: 2rem;
    color: $tan;
}

select,
button {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-align: center;
}

//buttons
button {
    margin-top: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 3px;
    color: $green;
    background-color: $orange;
    transition: 0.2s;
    &:hover,
    &:focus {
        background-color: $yellow;
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 0.2s;
    i:hover,
    i:focus {
        color: $yellow;
    }
}

//icons
i {
    color: $tan;
}