@use "_variables.scss" as *;

//small desktops
@media (max-width: 1240px) {
    h2.state {
        font-size: 3rem;
        letter-spacing: 0.6rem;
    }
    h3 { font-size: 2.1rem; }
    fieldset.activity-selector ul li { width: 25% }
}

//portrait tablet and small desktops
@media (max-width: 1040px) {
    h1 { font-size: 6.8rem; }
    h2 { font-size: 2.5rem; }
    h2.state { font-size: 2.5rem; }
    h3 {
        font-size: 1.9rem;
        letter-spacing: 0.4rem;
    }
    header p {
        font-size: 2.3rem;
        &:first-child { font-size: 1.9rem; }
    }
    p,
    a {
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
    }
    label,
    legend,
    select,
    button {
        font-size: 1.8rem;
    }
    fieldset.state-selector select { border-width: 3px; }
    .loading i { font-size: 5rem; }
}

//landscape phone to portrait tablet
@media (max-width: 940px) {
    h1 { font-size: 6rem; }
    header p {
        font-size: 2.2rem;
        &:first-child { font-size: 1.8rem; }
    }
    p,
    a {
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
    }
    fieldset.activity-selector ul li { width: 33% }
    .activity-card { width: 100%; }
}

//landscape phone to portrait tablet
@media (max-width: 765px) {
    h1 { font-size: 5rem; }
    header p {
        font-size: 2rem;
        letter-spacing: 0.4rem;
        &:first-child {
            font-size: 1.7rem;
        }
        &:last-child {
            font-size: 1.3rem;
        }
    }
    header { margin: 45px 30px 27px 30px; }
    footer { margin: 45px 30px 20px 30px; }
    main { padding: 27px; }
    .border-container {
        .right,
        .left { width: 15px; }
        .top,
        .bottom { height:15px }
    }
    fieldset.state-selector select { width: 100% }
    fieldset.activity-selector ul li {
        width: 50%;
        padding: 3px 3px;
    }
}

//landscape phones and down
@media (max-width: 480px) {
    h1 {
        font-size: 3.2rem;
        letter-spacing: 0.6rem;
    }
    h2 { font-size: 2rem; }
    h3 {
        font-size: 1.7rem;
        letter-spacing: 0.3rem;
    }
    h2.state { font-size: 2.2rem; }
    p,
    a {
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
    }
    label,
    legend,
    select,
    button {
        font-size: 1.4rem;
    }
    .activity-card { padding: 15px 15px; }
    .park-list {
        margin: 1rem 0;
        li { font-size: 1.5rem; }
    }
}