@use "_variables.scss" as *;

//small desktops
@media (max-width: 1240px) {
    //fonts
    h2.state { font-size: 3rem; }
    h3 { font-size: 2.1rem; }
    //user-selectors
    fieldset.activity-selector ul li { width: 25% }
}

//portrait tablet and small desktops
@media (max-width: 1040px) {
    //fonts
    h1 { font-size: 6.8rem; }
    h2 { font-size: 2.5rem; }
    h2.state { font-size: 2.5rem; }
    h3 { font-size: 1.9rem; }
    header p {
        font-size: 2.3rem;
        &:first-child { font-size: 1.9rem; }
    }
    p,
    a { font-size: 1.7rem; }
    label,
    legend,
    select,
    button { font-size: 1.8rem; }
    //user-selectors
    fieldset.state-selector select { border-width: 3px; }
    //loading
    .loading i {
        font-size: 5rem;
        &:first-child,
        &:nth-child(3){ font-size: 3rem; }
    }
}

//landscape phone to portrait tablet
@media (max-width: 940px) {
    //fonts
    h1 { font-size: 6rem; }
    header p {
        font-size: 2.2rem;
        letter-spacing: 0.7rem;
        &:first-child { font-size: 1.8rem; }
    }
    p,
    a { font-size: 1.5rem; }
    //user-selectors
    fieldset.activity-selector ul li { width: 33% }
    //park-info
    .activity-card { width: 100%; }
}

//landscape phone to portrait tablet
@media (max-width: 765px) {
    //fonts
    h1 {
        margin: 0;
        font-size: 5rem;
    }
    header p {
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
        &:first-child {
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
        }
        &:last-child {
            font-size: 1rem;
            letter-spacing: 0.1rem;
        }
    }
    //layout
    header { margin: 45px 30px 27px 30px; }
    footer { margin: 45px 30px 20px 30px; }
    main { padding: 20px; }
    .border-container {
        .right,
        .left { width: 15px; }
        .top,
        .bottom { height:15px }
    }
    //user-selectors
    fieldset.state-selector select { width: 100% }
    fieldset.activity-selector ul li {
        width: 50%;
        padding: 3px 3px;
    }
    //loading
    .loading i {
        font-size: 3rem;
        &:first-child,
        &:nth-child(3){ font-size: 2rem; }
    }
}

//landscape phones and down
@media (max-width: 480px) {
    //fonts
    h1 {
        font-size: 2.8rem;
        letter-spacing: 0.4rem;
    }
    h2 {
        padding: 20px 0;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
    }
    h3 {
        font-size: 1.7rem;
        letter-spacing: 0.3rem;
    }
    h2.state { font-size: 2.2rem; }
    p,
    a {
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
    }
    label,
    legend,
    select,
    button { font-size: 1.4rem; }
    //general styles
    .wrapper { width: 85%; }
    //park-info
    .activity-card { padding: 15px 15px; }
    .park-list li { font-size: 1.5rem; }
}

//landscape phones and down
@media (max-width: 320px) {
    //fonts
    h1 {
        font-size: 2.4rem;
        letter-spacing: 0.3rem;
    }
    h2 {
        padding: 10px 0;
        font-size: 1.7rem;
        letter-spacing: 0.3rem;
    }
    label,
    legend,
    select,
    button { font-size: 1.2rem; }
    //user-selectors
    fieldset.state-selector select { margin-bottom: 10px }

}