@use "_variables.scss" as *;

.info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
}

.activity-card {
    background-color: $tan;
    width: 47%;
    margin: 10px 0;
    padding: 15px 25px;
}

.park-list {
    margin: 2.2rem 0;
    li {
        list-style-type: disc;
        list-style-position: inside;
        font-size: 2rem;
        color: $green;
    }
}