//fonts
$header-font: 'Rubik Mono One', sans-serif;
$body-font: 'Kulim Park', sans-serif;

//colors
$tan: rgba(202, 187, 163, 1.00);
$orange: rgba(231, 83, 41, 1.00);
$green: rgba(46, 60, 26, 1.00);
$yellow: rgba(218, 149, 3, 1.00);