@use "_variables.scss" as *;

.to-do-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {width: 49%;}
}

.to-do li {
    display: flex;
    justify-content: space-between;
    align-items:center;
    p {margin: 15px 10px 15px 0;}
 .park-name {
            display: flex;
            align-items: center;
 }
}

.buttons {
    display: flex;
}